body {
  background-color: #eee;
  color: #000;
  font-family:  Baskerville, Georgia, "Times New Roman", Times, serif;
  font-size: 2ex;
  padding: 2ex;
}

h1, h2, h3, h4, h5, h6 {
  font-family:  Didot, Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
}

h2 {
  border-bottom: #000 2px solid;
  margin-bottom: 1ex;
}

h3 {
  margin: 3ex 0 0;
}

dl, dt, dd {
  display: block;
}

dt {
  clear: both;
  float: left;
}

dd {
  float: left;
}

dl:after {
  content: "\00a0"
}

p {
  margin: 0;
}

section {
  padding-bottom: 2ex;
}

footer {
  border-top: #000 2px solid;
  clear: both;
  padding: 2ex 0 2ex 0;
  text-align: center;
}

aside ul, aside ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside ul li {
  margin: 0 0 5ex;
}

a:link, a:visited {
  color: #777;
}

a:hover, a:active {
  color: #000;
}

.pull-left {
  float: left;
  text-align: left;
}

.pull-right {
  float: right;
  text-align: right;
}

.container {
  background-color: #fff;
  padding: 1ex;
  width: 50%;
  margin: 0 auto;
  left: 25%;
  z-index: 100;
}

.social {
  position: fixed;
  left: 25%;
  margin: 0 0 0 -10ex;
}

.downloads {
  position: fixed;
  right: 25%;
  margin: 0 -10ex 0 0;
}

.date {
  float: right;
}

.location {
  font-style: italic;
}
